<style type="text/css">
	img{margin: 10px;
		width: 60%;}
</style>
<div class="col-lg-12">
			<a href="#" class="list-group-item active">
			   <p class="text-center">
			    	ផ្លែទៀបខ្មែរ
			   </p>
			  </a>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          ការជ្រើសរើសពូជ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
					
							នៅប្រទេសកម្ពុជាយើងការសិក្សាស្រាវជ្រាវពីដំណាំឈើហូបផ្លែ គឺពុំទាន់បានស៊ីជំរៅនៅឡើយទេ ។ ដូច្នេះការជ្រើសរើសពូជ គឺកសិករ រឺម្ចាស់ចំការជាអ្នកអនុវត្ដផ្ទាល់ ។ទោះជាយ៉ាងណាក៏ដោយការជ្រើសរើសពូជក៏គួរជ្រើសយកតាមលក្ខណៈដូចខាងក្រោម៖
						-ជ្រើសយកពូជទៀបចេញពីដើមធំល្អ ផ្លែច្រើនគ្មាននសត្វល្អិត និងជំងឺ<br/>
						-ជ្រើសយកផ្លែដែលមានទំហំធំ (២៥០ ទៅ ៣០០ក្រាម )និង មានរាងមូលល្អ ។<br/>
						-ផ្លែមានគ្រាប់តិច និង ទុំល្អ។<br/>
						-មិនងាយប្រេះសំបក ។
					</div>
				</div>
						</div>
					</div>
			    </div>
			  </div>
			
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          ការបណ្ដុះគ្រាប់
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			      ក្រោយពីបានជ្រើសរើសគ្រាប់តាមលក្ខណៈវិនិច្ឆ័យខាងលើនេះហើយ គ្រាប់ទៀបត្រូវយកទៅបណ្ដុះ នៅក្នុងថ្នាលបឬក្នុងកន្ទោងដើម្បីងាយស្រួលក្នុងការយកទៅដាំ ។ ត្រូវកប់គ្រាប់ក្នុងដីជំរៅ១សម និងឃា្លតគ្នាពី ២​ ទៅ ៣សម ក្នុងកន្ទោងតែមួយ ។ ត្រូវស្រោចទឹករហូតដល់ពេលយកទៅដាំ ។
			      <br>
			      <center>
					       	<img src="images/s1.jpg">
					       
					      
					       	<img src="images/s2.jpg">
					      </center>
			     </div>
			 </div>
			       </div>
			    </div>

			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			         	ការៀបចំដីសំរាប់ដាំ
			        </a>
			      </h4>
			    </div>
			
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			      កាប់រណ្ដៅដែលមាទំហំ០.៥ម៉ែត្របួនជ្រុង ជំរៅប្រហែល០.៥ម៉ែត្រ និងចំងាយពីរណ្ដៅ១ទៅរណ្ដៅ ១ ទៀតប្រហែលពី ៣ ទៅ៤ម៉ែត្រ ។ កាប់រណ្ដៅជាជួររាងចតុកោនកែង បឬជាត្រីកោណក៏បាន ។ ត្រូវជំរះស្មៅឲ្យ បានស្អាតក្នុងចំការដើម្បីកុំឲ្យមានការដុះប្រកួតប្រជែងនិង កូនដំណាំ ។
			      <center>

			       <img src="images/s3.jpg" width="100%">
			       		</center>
			       	</div>
			       </div>
			       	</div>
			       </div>
			      </div>
			   
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			       ការដាំ
			        </a>
			      </h4>
			    </div>
			
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       គ្រាប់ទៀបចាប់ផ្ដើមមដុះក្នុងរយៈពេលពី ១០ ទៅ ១៥ថ្ងៃ ក្រោយពេលបណ្ដុះ។ គេអាចយកវាទៅដាំ ក្រោយពេលដែលវាមានស្លឹកចាស់ពី ៤ទៅ៦ សន្លឹក ។ ក្នុងពេលនោះគួរបាញ់ថ្នាំសេវីនបឬ ម៉ាឡាចុងដើម្បីទប់ស្កាត់ នឹងការទិចសន្លឹករបស់សត្វល្អិតឬ ចៃជពា្ជក់ជ័រ និង ដង្កូវស៊ីស្លឹក។
			       	</div>
			       </div>
			      </div>
			    </div>
			    </div>
			    <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			         ការដាក់ជី
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			      ជាទូទៅគេពុំដែលដឹងថាតើដំណាំទៀបនេះត្រូវការជីរបែបណាទេ ហើយកសិករយើងច្រើនតែដាំវាចោល ដោយពុំរវល់ថែទាំឡើយ ។ ប៉ុន្ដែប្រសិនបើចង់ទទួបានទិន្នផលខ្ពស់ការដាក់ជីជាការចាំបាច់ណាស់ ។ ក្រោយពេល ដាំរយៈពេលមួយខែគួរដាក់ជីអាម៉ូញ៉ូមស៊ុលផាតចំនួនពី ៥០ ទៅ ១០០ ក្រាមក្នុងមួយដើមនិង ដាក់ម្ដងទៀតចំនួន ដូចគ្នានៅចុងរដូវភ្លៀង។ ចំនួនជីអាចបង្កើនឡើងនៅឆ្នាំបន្ដ ។ គួរដាក់ជីគ្រប់មុខនៅពេលទៀបចាប់ផ្ដើមមផ្កាចំនួន ពី២០០-៣០០ ក្រាមក្នុងមួយដើម ហើយត្រូវដាក់២ដងក្នុងមួយឆ្នាំ ។ ត្រូវដាក់ជីនៅជុំវិញគល់ចំងាយ ពី ៣០ ទៅ ៥០សម ដោយយោងទៅតាមអាយុកាលនៃកូនទៀប ។
			  </div>
			</div>
			       </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			         ការលូសនិងកាប់មែក
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     ពេលដើមនៅតូចការកាប់ និងលួសមែកពុំអាចធ្វើទៅបានទេ ព្រោះនាំឲ្យការលូតលាស់កូនទៀបខ្សេាយ​​ ។ ប៉ុន្ដែបន្ទាប់ពី២ឆ្នាំក្រោយពេលផ្លែ មែកដែលងាប់និងមែកចាស់គួរកាប់ចេញឲ្យបានស្អាត ។ បើដើមវាមានអាយុច្រើនគេអាចកាប់ មែកវាចេញអស់ដោយទុកឲ្យលាស់មែកថ្មីជំនួសវិញ ។
			 </div>
			</div>
			       </div>
			    </div>
			  </div>

			  </div>
		
		