
<style type="text/css">
	img{
		margin: 10px;
		width: 90%;
	}

}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="jquery.fittext.js"></script>

<div class="col-lg-12">
			<a href="#" class="list-group-item active">
			   <p class="text-center">
			    	ផ្លែត្របែក
			   </p>
			  </a>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          អំពីពូជ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     	ការជ្រើសរើសពូជត្របែកក៏ដុចជាដំណាំដ៏ទៃទៀតដែរ គឺធ្វើយ៉ាងនាតំរូវទៅតាមការនិយមចូលចិត្ដរបស់ អ្នកទិញ ។ ប៉ុន្ដេធ្វើយ៉ាងណាត្រូវតែអនុវត្ដទៅតាមលក្ខណៈវិនិច្ឆ័យដូចខាងក្រោម៖<br/>
						-រើសផ្លែដែលទុំចេញពីដើមដែលយើងយល់ថាគ្មាននចំងឺ ។<br/>
						-រើសពូជដែលធន់ទ្រាំនឹងជំងឺ និងសត្វល្អិត<br/>
						-រើសពូជដែលមានគ្រាប់តិច ហើយមានសាច់ក្រាស់ផ្ដល់ទិន្នផលខ្ពស់ ។
					</div>
				</div>
			      </div>
			    </div>
			  </div>
			</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        ការបណ្ដុះគ្រាប់
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       ត្រូវលាងគ្រាប់ឲ្យបានឆាប់និងស្អាតបន្ទាប់ពយកចេញពីផ្លែ។ បើអាចដាំបានឆាប់កាន់តែល្អដើម្បីធានា នូវដំណុះគ្រាប់ ។ យើងអាចយកគ្រាប់ពូជទៅសាបនៅកុ្នងរងដែលត្រៀមរួច ។ សាបតាមចង្អូរដែលឆួតនៅលើរង ជំរៅប្រហែលពី ០៥ ទៅ ១សម ហើយត្រូវសាបគ្រាប់ឃ្លាតពីគ្នាប្រហែលពី ២ ទៅ ៣សម ។ ត្រូវស្រោចទឹក ឲ្យបានជាប់ជាប្រចាំ ។ ត្រូវបាញ់ថ្នាំកូនត្របែកការពារសត្វល្អិត និងជំងឺ ជាពិសេសជំងឺអង់ត្រាក់ណុស ។ ថែទាំ និងការពាររហួតដល់វាមានអាយុប្រហែលមួយឆ្នាំទើបយកវាទៅដាំ ។
					ការផ្សាំ និងបំបៅមែកក៏ជាវិធីមួួដែលគេតែងអនុវត្ដជាញឹកញាប់ក្នុងការដាំដុះដំណាំនេះដែរ ។ ព្រោះវា ឆាប់ផ្ដល់ផលជាងការដែលយើងដាំដោយគ្រាប់ ។
					<center>
						<img src="images/g1.jpg">
					</center>
					</div>
				</div>

			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			         	ការរៀបចំដីនិងការដាំដុះ
			        </a>
			      </h4>
			    </div>
			
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			      ចំពោះការដាំជាលក្ខណៈគ្រួសារវាមានការងាយស្រួលច្រើនជាងការដាំដុះដែលមានទ្រង់ទ្រាយធំ ។ ត្រូវ កាប់រណ្ដៅដែលមានទំហំ និងជំរៅល្មម ដាក់ជីធមμជាតិទ្រាប់បាតរណ្ដៅ រួចយកកូនត្របែកមកដាំជាការស្រេច ។ ចំពោះការដាំជាលក្ខណៈចំកាធំៗត្រូវភ្ជួរដីឲ្យបានជ្រៅរាស់ឲ្យបានម៉ត់ល្អ។ កាប់រណ្ដៅដែលមានទំហំនិងជំរៅ
					ដូចគា្នគឺ ៥០សម ។ មុនដាំត្រូវដាក់ជីធមμជាតិក្នុងបាតរណ្ដៅ ។ ប្រសិនបើអាកាសធាតុក្ដៅខ្លាំងគួរគ្របគល់កូន ត្របែកដើមី្បរក្សាសំណើម និងជៀសវៀងកុំឲ្យវាស្រពោន ។ រណ្ដៅនីមួយៗត្រូវឃ្លាតគ្នាចំងាយប្រហែលពី ៤ ទៅ ៥ម៉ែត្រ ។
					<center>
				 <img src="images/g2.jpg">
				 </center>
				</div>
			</div>
			      </div>
			    </div>
			    </div>
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          វិធីសាស្រ្ដក្នុងការដាំដុះ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			    <b>  ១-ការជ្រើសរើសទីកន្លែងដាំដុះ៖</b><br>
			គេអាចដាំល្ហុងបាននៅលើដីច្រើនប្រភេទលើកលែងតែដីលិចទឹក ។ ដំណាំល្ហុងជារុក្ខជាតិដែលអាចចាក់ឬស ភាគច្រើននៅដីស្រទាប់លើគួបផ្សំនឹងដើមឆាប់បាក់ និងរលំដួលដោយសារខ្យល់ដូច្នេះចំការល្ហុងត្រូវជ្រើសរើសទីកន្លែងណាដែលមានរុក្ខជាតិធំៗល្មម ដើម្បីជារបាំងខ្យល់និងការពារកំដៅថ្ងៃ ។
			<br>
			<b>២-របៀបដាំដុះ៖</b><br>
			-ការរៀបចំថ្នាលបណ្ដុះកូន៖ ជាដំបូងគេត្រូវកាប់ដីលើកជាថ្នាលតូចមួយដែលមានទទឹង ១ម៉ែត្រ និងបណ្ដោយ២ម៉ែត្រដោយសំអាតស្មៅឲ្យអស់ធ្វើដីឲ្យម៉ត់ល្អធ្វើដំបួលឲ្យមានជាម្លប់ខ្លះៗ ដើម្បីឲ្យមាន បន្លឺព្រះអាទិត្យអាចចាំងចូលបាន ។
			-ការជ្រើសរើសពូជ៖ យើងត្រូវជ្រើសរើសផ្លែល្ហុងទុំមួយ ដើម្បីយកគ្រាប់សំរាប់ធ្វើពូជា ។ គេរតូវយកគ្រាប់ទៅ សាបក្នុងថ្នាលដែលបានធ្វើរួចដោយកប់ដីជំរៅ៥មម ។
			-ការថែរទាំកូន៖ ក្រោយពេលកូនល្ហុងដុះបានកំពស់ល្មមគេគាស់វាដាក់ក្នុងថង់ប្លាស្ទិច ។ នៅពេលកូនល្ហុងមានអាយុប្រហែល ១ ខែកន្លះ ទៅ២ខែ គេយកវាទៅដាំនៅក្នុងចំការតែម្ដងដោយ ដាំក្នុងមួយរណ្ដៅ២ទៅ ៣ ដើម ។ មានវិធីម្យ៉ាងទៀតគេអាចសាបផ្ទាល់នៅ ក្នុងចំការតែម្ដងដោយដាំក្នុងមួយរណ្ដៅពី ៤ទៅ៥គ្រាប់ ។ នៅ ពេលដែលដើមល្ហុងចាប់ផ្ដើមមចេញផ្កា គេអាចកំណត់បានច្បាស់ថាជាដើមឈ្មោល ឬញី ។ ពេលនោះគេត្រូវកាប់ ដើមឈ្មោលចោលទាំងអស់ទុកតែដើមញីទេ ។ ប៉ុន្ដែក្នុងចំណោមដើមញីពី ២៥ ទៅ ១០០ដើម គេអាចទុកដើម ឈ្មោលមួយដើមដើម្បីទុកលំអងបង្កាត់ ។
			<br>
			<b>៣-ការធ្វើដីដាំ៖</b><br>
			មុនពេលដាំគេត្រូវភ្ជួរដីឲ្យបានពី២ទៅ៣សារ ហើយកាប់រណ្ដៅទំហំ០.៧ម៉ែត្រ ជំរៅ ០.៥ម៉ែត្រ ដោយដាក់លាកមគោពី ១០ ទៅ ២០គីឡូក្រាម ក្នុង១រណ្ដៅ និង ចន្លោះពីគុម្ព១ទៅគុម្ព ១ ទៀត ២ម៉ែត្រ និង ចន្លោះពីរង១ ទៅរង១ ទៀតប្រវែង ២ ម៉ែត្រដែរ ។ ជីសរីរាង្គមានសារៈសំខាន់ណាស់ក្នុងការដាំល្ហុង ក៏ដូចដំណាំដ៏ ទៃទៀតដែរ ដោយដាក់តាំងពីពេលដាំម្លេះ ។ ចំណែកជីគីមីគេច្រើនប្រើនៅពេលកូនល្ហុងធំ រឺពេលល្ហុងជិតឲ្យ ផល ។ ជាទូទៅគេចាប់ផ្ដើមមសាបគ្រាប់នៅពាក់កណ្ដាលខែធ្នូហើយ ចាប់ផ្ដើមមដាំនៅខែកុម្ភៈ ។

				<center>
					<img src="images/g3.jpg">
				</center>
				</div>
			</div>
		</div>
		</div>
	</div>
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFive">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			          ការដាក់ជី
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     ដើម្បីឲ្យការលូតលាស់បានល្អ កាដាក់ជីជាការចាំបាច់ណាស់ចំពោះគ្រប់ដំណាំទាំងអស់ ។ ចំពោះ ត្របែកនៅឆ្នាំទី១បន្ទាប់ពីដាំត្រូវប្រើជីអាមូញូមស៊ុលផាតក្នុងកំរិតពី ១០០ ទៅ ១៥០ ក្រាម ក្នុង១ដើមដោយ ដាក់ជុំវិញគល់ហើយក្នុងមួយឆ្នាំដាក់ពីរដង ។ ដាក់លើកទី១គឺក្រោយពេលដាំបានមួយខែនិងលើកទី២ គឺរយៈពេល ៦ ខែបន្ទាប់ពីការដាក់លើកទី១ ។ កំរិតជីដែលត្រូវប្រើគឹកើនឡើងទៅតាមអាយុកាលរបស់ដើមត្របែក ។ នៅ ពេលដែលត្របែកចាប់ផ្ដើមមផ្កាគឺត្រូវប្រើពី ៣០០ ទៅ ៥០០ ក្រាមនៃជីប្រភេទគ្រប់មុខតែកំរិតជាតិអាសូត និង ប៉ូតាស្យូម ត្រូវមានច្រើនជាងគេ ។

			     	</div>
			     </div>
			      </div>
			    </div>
			</div>
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingSix">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			          ការលួសមែក
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     ការលួសមែកមានសារៈសំខាន់ណាស់ចំពោះដំណាំឈើហូបផ្លែ ។ ការលួស និងកាប់មែកចាស់ៗចេញ ផ្ដ់ល់ផលប្រយោជន៏ច្រើនយ៉ាងដូចជា៖
				-ធ្វើឲ្យដើមលូតលាស់ល្អជាងធមμតា។
				-បន្ថយជំរកសត្វល្អិត និង ជំងឺ ។
				-បន្ថយភាពស៑ុបទ្រុបក្នុងចំការ ។
				-ធ្វើឲ្យផ្លែធំជាងដើមដែលមិនបានកាប់មែកចាស់ ។ ការកាប់ដើមចាស់និងមែកចាស់ៗចេញអាចធ្វើក្នុងរយៈពេលពី ៣ ទៅ ៤ ឆ្នាំម្ដង ។
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
		

		