
<style type="text/css">
	img{margin: 10px;
		width: 50%;}
	/*img.centered {
     position:fixed;
     left: 50%;
     top:  50%;
      margin-left: -32px;
     margin-top:  -32px;
 }*/
</style>
<div class="col-md-12">
			<a href="#" class="list-group-item active">
			   <p class="text-center">
			    	ផ្លែស្វាយ
			   </p>
			  </a>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          អំពីពូជ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     		នៅលើពិភពលោក ពូជស្វាយមានច្រើនប្រភេទណាស់ដែលមានលក្ខណៈប្លែកៗគ្នាដូចជាដើមដងស្លឹក ផ្កា និងផ្លែ ។ ឯការហៅឈ្មោះពូជនីមួយៗក៏មានការខុសគ្នាដែរ ។ ដោយឡែកនៅប្រតេសកម្ពុជាយើង គេសង្កេត ឃើញមានពូជស្វាយមួយចំនួនដែលប្រជាជនចូលចិត្ដដាំ និងបរិភោគ៖<br/>
						<b>ពូជកែវចិន៖ </b>ជាប្រភេទពូជដេលមានផ្លែរាងទ្រវែង សាច់ពណ័លឿងព្រលែត មានសរសៃតិចតួច មានក្លិនក្រអូប ។ ពូជនេះគេនិយមបរិភោគ និងលក់បានតំលៃថ្លៃ ។ ពួជប្រភេទនេះចាប់ផ្ដើមមចេញផ្កានៅ ខែមករា និងទុំនៅ ខែមេសា ។<br/>
						<b>ពូជកែវសារី៖ </b>ជាពូជដែលមានផែរាងខ្លី កំប៉ោង មានសាច់ពណ័លឿងព្រលែត និងមានសរសៃតិចតួច ចាប់ផ្ដើមមចេញផ្កាខែតុលា ហើយទុំនៅខែកុម្ភៈ ។
						<br/>
						<b>ពូជស្វាយក្បាលដំរី៖</b> ផ្លែរាងមូលកន្ដុល សាច់ជ្រាយ និងមានគ្រាប់ធំ ចេញផ្កានៅខែមករា ទុំនៅ មេសា ។
						<br/>
						<b>ពូជស្វាយពុំសែន</b>៖ ផ្លែរាងសំប៉ែត កន្ទុយផ្លែមានរាងកោងខុបបន្ដិច សាច់ពណ័ក្រហម រឺ លឿងនៅពេលទុំហើយចេញផ្កានៅខែមករា ទុំនៅខែមិនា និង ខែមេសា ។
						</div>
					</div>

			      </div>
			    </div>
			  </div>
			</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          ការបន្តពូជ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			      		<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       ដំណាំស្វាយត្រូវបានគេដាំដោយគ្រាប់ បឬដោយមែកផ្សាំ ។ ការបន្ដពូជដោយគ្រាប់គឺជាវិធីមួយដែលមាន លក្ខណៈល្អជាងការដាំដោយមែកផ្សាំ។ ព្រោះការដាំដោយគ្រាប់ទើបរុក្ខជាតិដុះលូតលាស់បានល្អមិនសូវមានជំងឺឆ្លង ធន់នឹងមជ្ឈដ្ឋានខាងក្រៅ ប្រព័ន្ធបឬសដែលមានលក្ខណៈមាំល្អអាចស្រូបយកទឹក និងជីជាតិបានខ្លាំងពីក្នុងដី ។
					កូនស្វាយដែលត្រូវយកមកដាំយ៉ាងហោចណាស់ក៏មានអាយុ៤សប្ដាហ៏បន្ទាប់មករៀបចំដីក្នុងថ្នាលណ្ដុះ គ្រាប់ជាដំបូងត្រូវជ្រើសរើសកន្លែងសមស្របសំរាប់ធ្វើថ្នាលបណ្ដុះបន្ទាប់មករៀបចំដីក្នុងថ្នាលបណ្ដុះឲ្យម៉ត់ល្អដាក់ ជីលាមកសត្វក្នុងកំរិត ៣០ តោនក្នុងមួយហិកតា ។ បន្ទាប់មកទៀតត្រូវជីករណ្ដៅបណ្ដុះដែលមានជំរៅពី ២៥ ទៅ ៥សមនៅក្នុងលក្ខខណ្ឌ័ដែលមានសំណើមគ្រប់គ្រាន់ ។ ម្យ៉ាងទៀតត្រូវបណ្ដុះកូនស្វាយនៅលើដីខ្សាច់ បឬលើស្រកី ដូងក្បែរពាងទឹក ។ ក្រោយពីដុះប£សយកវាទៅដាំបាន ។
					<center>
					<img src="images/mango1.jpg">
					<img src="images/mango4.jpeg">
					</center>
			      </div>
			    </div>
			     
			  </div>
			</div>
		</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			         	ការជ្រើសរើសទីកន្លែងសម្រាប់ដាំ
			        </a>
			      </h4>
			    </div>
			
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       ស្វាយជាដើមឈើហូបផ្លែមួយប្រភេទដែលមានអាយុកាលលូតលាស់វែង ជាងដំណាំហូបផ្លែដ៏ទៃទៀត ។ ដូចនេះការជ្រើសរើសទីកន្លែងសំរាប់ដាំដុះ ចាំបាច់ត្រូវគិតពីវិធានការណ៏ជារួម ដែលផ្ដល់ប្រយោជន៏ដល់ការដាំដុះ និងការទទួលផល ។
					ចំពោះការកំណត់ដីច្បារដំណាំជាការចាំបាច់ ។ ដូច្នេះត្រូវគិតពីកត្ដាមួយចំនួនខាងក្រោមនេះ៖<br/>
					-ត្រូវជ្រើសរើសប្រភេទដីដែលសមស្របទៅតាមការទាមទាររបស់ដំណាំស្វាយ។ ដីត្រូវមាន ផះ ពី៥៥ ទៅ៧៥។<br/>
					-ជៀសវាងការដាំនៅលើដីដែលមានធាតុគីមីមួយចំនួនដែលផ្ដល់លក្ខណៈពុំប្រសើរដល់ការលូតលាស់<br/>
					-ជ្រើសរើសដីដែលស្រោះទឹកល្អ ជៀសវាងការជាំទឹក ។<br/>
					-ជ្រើសរើសទីកន្លែងមានទឹក ខ្យល់ពន្លឺ និងសីតុណ្ហភាពសមស្រប (២៧ ទៅ ៣០អង្សាសេ) កំពស់ទឹកភ្លៀងប្រចាំឆ្នាំពី ៧៥០ ទៅ ២២៥០មម សំណើមពី ៧០ ទៅ ៨០ ភាគរយ ។
<br/>
					<center>
			       <img src="images/mango2.jpg">
			       </center>
			      </div>
			  </div>
			</div>
			    </div>
			</div>
			    
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          បច្ចេកទេសដាំដុះ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       ក្នុងការកំណត់ជួរបឬចន្លោះជួរ និងដើមដែលត្រូវដាំ គឺគិតពីលក្ខអាកាសធាតុតាមតំបន់នីមួយៗ និងតាម ប្រភេទពូជ ។ ប៉ុន្ដែជាទូទៅត្រូវជីករណ្ដៅដែលមានទំហំ០.៧ម៉ែត្រ ជំរៅ ០.៧ម៉ែត្រ ដោយដាក់ស្រទាប់ដីទី១ជំរៅ ០.៣ ម៉ែត្រនៅមួយកន្លែង និងស្រទាប់ទី២ចំរៅ ០.៤ ម៉ែត្រនៅមួយកន្លែង បន្ទាប់កមត្រូវដាក់ជីកំប៉ុស្ដដែលពុក ផុយល្អចូលទៅបាតរណ្ដៅកំរាស់ ១០-២០សង់ទីម៉ែត្រ ហើយលុបដីស្រទាប់១ រួចដាក់់ជីកំប៉ុស្ដដែលពុកផុយល្អចូល ទៅក្នុងរណ្ដៅកំរាស់ ៥-១០សង់ទីម៉ែត្រ ហើយលុបដីស្រទាប់ ២កំរាស់២០សង់ទីម៉ែត្រ ។ ក្រោយមកដីដែលត្រូវ យកទៅបំពេញរណ្ដៅត្រូវលាយជាមួយជីលាមកសត្វ ហើយធ្វើការដាំកូនឲ្យចំកណ្ដាលរណ្ដៅ និងដោតបង្គោល បឬស្សីរួចចងកូនស្វាយជាប់នឹងបង្គោលនោះដើម្បីឲ្យដើមមានលំនឹង ។ ចន្លោះពីរណ្ដៅ ១ប្រវែង ៩ម៉ែត្រ និង ពីជួរ១ ទៅ ជួរ១ទៀត ៩ម៉ែត្រ ។
			       	<center>
			       	<img src="images/mango3.jpg">
			       	</center>
			       </div>
			      </div>
			    </div>
			  </div>
			</div>
</div>
		

		