
<style type="text/css">
	img{
		margin: 10px;
		width: 40%;
		
	}
</style>
<div class="col-lg-12">
			<a href="#" class="list-group-item active">
			   <p class="text-center">
			    	ផ្លែល្ហុង
			   </p>
			  </a>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          អំពីពូជ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			     		បណ្ដាពូជល្ហុងនៅអាមេរិកខាងត្បូង. ខាងជើង និង អាមេរិកកណ្ដាលមានជាង ៣០ ប្រភេទដោយនៅ ប្រទេសកម្ពុជាយើងពូជល្ហុងដែលគេតែងតែជួបប្រទះមាន៖<br>
						<b>-ពូជល្ហុងល័ក្ខៈ</b> ពូជប្រភេទនេះត្រូវបានប្រជាជននិយមចូលចិត្ដដាំជាងគេដោយសារវាមានឱជារស់ឆ្ងាញ់ពិសារ ។ ពូជប្រភេទនេះមានដើមពណ័ស្វាយបន្ដរហូតដល់ធាង និងស្លឹក ។ ផ្លែខ្ចីមានពណ័បៃតងខ្ចីរាងទ្រវែងនិង មានគ្រាប់តិច។ ផ្លែទុំមានសំបកពណ័លឿង និងសាច់ពណ័ក្រហម។<br>
						<b>-ពូជល្ហុងដំឡូង៖</b> ពូជប្រភេទនេះពុំសួវបានប្រជាជននិយមចូលចិត្ដដាំទេ ព្រោះវាពុំសូវមានឱជារស ។ពូជប្រភេទនេះមានដើម និងផ្លែពណ័បៃតង ផ្លែទុំពណ័លឿងពុំសូវផ្អែម គ្រាប់ច្រើន តែងាយស្រួលក្នុងការដាំដុះ ។
						ក្រៅពីនេះនៅមានពូជជាច្រើនទៀតដែលមានលក្ខណៈប្រហាក់ប្រហែលគ្នាទាំងដើម ទាំងផ្លែ ។ ដំណាំ ល្ហុងអាចដុះលូតលាស់និងផ្ដល់ផ្លែបានក្នុងរយៈពេល ២០ឆ្នាំ បឬច្រើនជាងនេះ ។ ប៉ុន្ដែវាផ្ដល់ទិន្នផលខ្ពស់តែក្នុងរយៈ ពេលពី ៣ទៅ ៤ ឆ្នាំប៉ុណ្ណោះ។ ក្រោយមកទិន្នផលត្រូវថយចុះជាលំដាប់ ឯគុណភាពផ្លែក៏អន់ថយដែរ ។

						<center>
							<img src="images/p4.jpg">
							<img src="images/p5.jpg">
						</center>
					</div>
				</div>
			      </div>
			    </div>
			  </div>
			</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			        ការកំណត់ភេទល្ហុង
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       ការកំណត់ប្រភេទល្ហុង គឺមានវិធីផ្សេងៗគ្នាអាស្រ័យទៅតាមការនិយមរបស់ប្រទេសខ្លះ ។ ដើម្បីកំណត់ ភេទល្ហុងគេយកស្លឹកនៃដើមណាមួយមកកិន ហើយច្របាច់កទឹកនោះលាយជាមួយទឹកបារត ។ បើសិនទឹកលាយ នោះប្រែពណ័ទៅជាបៃតង គេកំនត់ថាដើមនោះជាដើមញី តែការកំណត់នេះគឺមានប្រសិទ្ធភាពតែត្រឹម ៨៧ ° តែប៉ុណ្ណោះ។ ដោយឡែកនៅប្រទេសកម្ពុជាយើងប្រជាជនកំណត់ភេទល្ហុងតាមលក្ខណៈរូបសាស្រ្ដបើកូនល្ហុងណាមាន ការលូតលាស់ខ្លាំងជាងគេនៅក្នុងថា្នលគេសន្មតថាជាដើមឈ្មោលបឬមានវិធីម្យ៉ាងទៀតគឺគាស់កូនល្ហុងដើម្បីពិនិត្យមើលឬសបើសិនជាឃើញឬសកែវបែកជាពីរគេសន្មតថាជាល្ហុងញីប៉ុន្ដែវិធីនេះពុំមានប្រសិទ្ធិភាព ១០០%ទេ ។

			       </div>
			   </div>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			         	លក្ខខណ្ឌ័ដី និងអាកាសធាតុសមស្រប
			        </a>
			      </h4>
			    </div>
			
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			       <b>១ របបទឹកភ្លៀងៈ</b><br>
			របបទឹកភ្លៀងដែលដំណាំល្ហុងត្រូវការ គឺអាចកើនឡើងរហូតដល់១៥០០មម ក្នុងមួយឆ្នាំ ។ លក្ខណ្ឌ័ តំបន់ត្រូពិចល្អប្រសើរសំរាប់ការលូតលាស់របស់ល្ហុង បើសិនជាមិនសូវមានភ្លៀងខ្លាំង និងមានពពកច្រើន ។ កំរិត ទឹកភ្លៀងដែលតិចបំផុតសំរាប់ដំណាំល្ហុង គឺ១០០មម ក្នុងមួយឆ្នាំបើតិចជាងនេះល្ហុងមិនអាចរស់បានឡើយ ។<br/>
			<b>២-សីតុណ្ហភាពៈ</b><br>
			ដំណាំល្ហុងអាចដុះបាននៅក្នុងតំបន់ដែលមានសីណ្ហភាពមធ្យម។ សីតុណ្ហភាពសមស្របសំរាប់ដំណាំល្ហុងគឺ ពី ២២ ទៅ ២៨ អង្សាសេ ហើយវាក៏អាចដុះលូតលាស់បានដែរនៅតំបន់ដែលមានសីតុណ្ហភាព ១៨ អង្សាសេ ។ សីតុណ្ហភាពនេះមានឥទ្ធិពលសំខាន់ណាស់សំរាប់ការលូតលាស់របស់ដំណាំល្ហុង។ ដំណាំនេះមានការលូតលាស់លឿន នៅរដូវវស្សា រីឯរដូវប្រាំងទោះជាមានការស្រោចស្រពក៏ដោយក៏ការលូតលាស់ពុំសូវល្អដែរ ។ ព្រោះនៅរដូវប្រាំង សីតុណ្ហភាពមានកំរិតខ្ពស់ពេក ។<br>

			<b>៣-ដីៈ</b><br>
			ដំណាំល្ហុងត្រូវការដីមានសភាពធូរជ្រៅហើយស្រោះទឹក និង សំបូរជីជាតិ ជាពិសេសគឺដីកណ្ដេង បឬដី ខ្សាច់ល្បាយដីបាសាល ។ ការពិសោធន៏បានបញ្ជក់ថា ប្រភេទដីល្បាយខ្សាច់មានលក្ខណៈពិសេសដូចតទៅ៖
			-កំរិតបរិមាណដីដែលហូរច្រោះចេញពីគល់ល្ហុងមានចំនួនតិចតួចមិនប៉ះពាល់ដល់ប្រព័ន្ធបឬសនិងមិនងាយធ្វើឲ្យដើមរលំដួល ។
			-មិនបៀមទឹកដែលអាចជៀសវាងបាននូវជម្ងឺរលួយបឬសកើតឡើងនៅក្នុងរដូវភ្លៀងធ្លាក់ខ្លាំង ។<br>
			-នៅរដូវប្រាំងអាចរក្សាសំណើមបានយូរជាងដីខ្សាច់ ។ ដំណាំល្ហុងត្រូវការដីដែលមានប្រភពទឹកក្រោមដីជ្រៅបន្ដិច បឬជាតិសើមជំរៅយ៉ាងតិច ២ម៉ែត្រ ។ នៅតំបន់ណាដែលមានភ្លៀងធ្លាក់ខ្លាំងគេដាំល្ហុងនៅលើដីទួល បឬដីជំរាលដើម្បីជៀសវាងការដក់ទឹក ។ ដំណាំល្ហុងពុំត្រូវការដីដែលមានជីជាតិជូរពេកទេ (PH ប្រហែលពី៦.៥ ទៅ ៧)និងសំបូរទៅដោយជាតិ N,P,K,Fe,Cu ជាដើម។ ដីដែលមាន PH ក្រោម ៥.០ ត្រូវបាចកំបោរដើម្បីកាត់ បន្ថយជំងឺរលួយគល់ ។ ដំណាំល្ហុងដែលគេនិយមដាំណៅប្រទេសកម្ពុជាមានពីរកន្លែង គឺនៅតំបន់ខ្ពង់រាប និងតំបន់ តំនាបកណ្ដាល ។

					<center>
			        <img src="images/p2.jpg">
			        </center>
			   	 </div>
				</div>
			</div>
		 </div>
	 </div>
			     <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingFour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          វិធីសាស្រ្ដក្នុងការដាំដុះ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="panel-body">
			      	<div class="row">
			      		<div class="col-md-12" style=" word-wrap:break-word;">
			      <b>១-ការជ្រើសរើសទីកន្លែងដាំដុះ៖</b><br>
			គេអាចដាំល្ហុងបាននៅលើដីច្រើនប្រភេទលើកលែងតែដីលិចទឹក ។ ដំណាំល្ហុងជារុក្ខជាតិដែលអាចចាក់ឬស ភាគច្រើននៅដីស្រទាប់លើគួបផ្សំនឹងដើមឆាប់បាក់ និងរលំដួលដោយសារខ្យល់ដូច្នេះចំការល្ហុងត្រូវជ្រើសរើសទីកន្លែងណាដែលមានរុក្ខជាតិធំៗល្មម ដើម្បីជារបាំងខ្យល់និងការពារកំដៅថ្ងៃ ។
			<br>
			<b>២-របៀបដាំដុះ៖</b><br>
			-ការរៀបចំថ្នាលបណ្ដុះកូន៖ ជាដំបូងគេត្រូវកាប់ដីលើកជាថ្នាលតូចមួយដែលមានទទឹង ១ម៉ែត្រ និងបណ្ដោយ២ម៉ែត្រដោយសំអាតស្មៅឲ្យអស់ធ្វើដីឲ្យម៉ត់ល្អធ្វើដំបួលឲ្យមានជាម្លប់ខ្លះៗ ដើម្បីឲ្យមាន បន្លឺព្រះអាទិត្យអាចចាំងចូលបាន ។
			-ការជ្រើសរើសពូជ៖ យើងត្រូវជ្រើសរើសផ្លែល្ហុងទុំមួយ ដើម្បីយកគ្រាប់សំរាប់ធ្វើពូជា ។ គេរតូវយកគ្រាប់ទៅ សាបក្នុងថ្នាលដែលបានធ្វើរួចដោយកប់ដីជំរៅ៥មម ។
			-ការថែរទាំកូន៖ ក្រោយពេលកូនល្ហុងដុះបានកំពស់ល្មមគេគាស់វាដាក់ក្នុងថង់ប្លាស្ទិច ។ នៅពេលកូនល្ហុងមានអាយុប្រហែល ១ ខែកន្លះ ទៅ២ខែ គេយកវាទៅដាំនៅក្នុងចំការតែម្ដងដោយ ដាំក្នុងមួយរណ្ដៅ២ទៅ ៣ ដើម ។ មានវិធីម្យ៉ាងទៀតគេអាចសាបផ្ទាល់នៅ ក្នុងចំការតែម្ដងដោយដាំក្នុងមួយរណ្ដៅពី ៤ទៅ៥គ្រាប់ ។ នៅ ពេលដែលដើមល្ហុងចាប់ផ្ដើមមចេញផ្កា គេអាចកំណត់បានច្បាស់ថាជាដើមឈ្មោល ឬញី ។ ពេលនោះគេត្រូវកាប់ ដើមឈ្មោលចោលទាំងអស់ទុកតែដើមញីទេ ។ ប៉ុន្ដែក្នុងចំណោមដើមញីពី ២៥ ទៅ ១០០ដើម គេអាចទុកដើម ឈ្មោលមួយដើមដើម្បីទុកលំអងបង្កាត់ ។
			<br>
			<b>៣-ការធ្វើដីដាំ៖</b><br>
			មុនពេលដាំគេត្រូវភ្ជួរដីឲ្យបានពី២ទៅ៣សារ ហើយកាប់រណ្ដៅទំហំ០.៧ម៉ែត្រ ជំរៅ ០.៥ម៉ែត្រ ដោយដាក់លាកមគោពី ១០ ទៅ ២០គីឡូក្រាម ក្នុង១រណ្ដៅ និង ចន្លោះពីគុម្ព១ទៅគុម្ព ១ ទៀត ២ម៉ែត្រ និង ចន្លោះពីរង១ ទៅរង១ ទៀតប្រវែង ២ ម៉ែត្រដែរ ។ ជីសរីរាង្គមានសារៈសំខាន់ណាស់ក្នុងការដាំល្ហុង ក៏ដូចដំណាំដ៏ ទៃទៀតដែរ ដោយដាក់តាំងពីពេលដាំម្លេះ ។ ចំណែកជីគីមីគេច្រើនប្រើនៅពេលកូនល្ហុងធំ រឺពេលល្ហុងជិតឲ្យ ផល ។ ជាទូទៅគេចាប់ផ្ដើមមសាបគ្រាប់នៅពាក់កណ្ដាលខែធ្នូហើយ ចាប់ផ្ដើមមដាំនៅខែកុម្ភៈ ។

				<center>
					<img src="images/p1.jpg">
					<img src="images/p3.jpg">
				</center>
					</div>
				</div>
			   </div>
			  </div>
			 </div>
			</div>
		

		