<div class="col-lg-12">
			<a href="#" class="list-group-item active">
			   <p class="text-center">
			    	ទឹកដោះគៅ
			   </p>
			  </a>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          ទឹកដោះគោ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			     
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          របៀបធ្វើដី
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        សេចក្ដីផ្ដើម
					ដើមទឹកដោះគោជាប្រភេទដើមឈើហួបផ្លែមួយប្រភេទ ដែលគេមិនសូវមានដាំជាលក្ខណៈផ្ទៃដីធំទេតែគេច្រើនដាំវាតាមផ្ទះជាលក្ខណៈគ្រួសារសំរាប់យកមកបរិភោគ ឬ យកទៅលក់មានលក្ខណៈតូចតាចប៉ុណ្ណោះ ។ ទោះបីជាវាជាផ្លែឈើដែលមិនមានប្រជាប្រិយភាពដូចជាឈើហួបផ្លែដទៃក៏ដោយតែវាជាផ្លែដែលមានលក្ខណៈឆ្ងាញ់ពិសាររស់ជាតិផ្អែមត្រជាក់ ដោយសារសាច់ផ្លែខាងក្នុងមានសភាពទន់ងាយ និងពិសារ ហើយមានទឹកដមផ្អែមដែលមិនអាចភ្លេចបាន ។ វាមិនត្រឹមតែជាដំណាំហូបផ្លែ ប៉ុណ្ណោះទេវាក៏ជារុក្ខជាតិសំរាប់លំអរគេហដ្ឋានដែរ ដោយសារតែស្លឹករបស់វាមានពណ៌ប្លែកៗ និងផ្ដល់ជាម្លប់ដ៏ត្រកាលដល់បរិយាកាសដើមទឹកដោះគោ ជាដើមឈើមួយដែលអាចធន់ទៅនឹងកំលាំងបក់បោកខ្លាំងនៃខ្យល់ព្យុះ ។ ផ្ទុយទៅវិញស្លឹករបស់វាងាយស្រួលរងនូវការបំផ្លាញ លក្ខខ័ណ្ឌខាងលើនេះ ណាស់។ 

			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			         	របៀបដាំ
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			        <img src="images/product/spey.jpg">
			      </div>
			    </div>
			  </div>
			</div>

		</div>