﻿
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agriculture</title>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/w3.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Bayon' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <script src="~/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-1.12.4.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/myscript.js"></script>


    <div class="jumbotron" style="margin-top:-17px;">
        <div class="container-fluid">
            <h1 style="font-family: 'Bayon'; font-size: 300%; text-align: center;">
                សូមស្វាគមន៏ មកកាន់ កសិកម្មកម្ពុជា
            </h1>
        </div>
    </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/slide1.jpg" alt="...">
                <div class="carousel-caption">
                    for khmer
                </div>
            </div>
            <div class="item">
                <img src="images/slide2.jpg" alt="...">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="images/slide3.jpg" alt="...">
                <div class="carousel-caption">
                    khmer product
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron" style="margin-top: -39px;">
        <div class="container">
            <h1 style="font-family: 'Bayon'; font-size: 200%; text-align: center;">
                ​ប្រភេទ

            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="growing.html" class="thumbnail col-md-11">
                    <img src="images/cate1.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">បន្លែ & ផ្លែឈើ</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/animalInTheSee.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">សត្វក្នុងទឹកប្រៃ</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/animalInTonlesab.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">សត្វក្នុងទឹកសាប</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/satKnongPrey.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">សត្វក្នុងព្រៃ</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/cat.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">សត្វចិញ្ចឹមក្នុងផ្ទះ</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/kongkab.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">ចិញ្ចឹមសត្វក្នុងស្រុក</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/dog.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">បង្កាត់ពូជសត្វ</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 rupp-cate ">
                <a href="vegetable.html" class="thumbnail col-md-11">
                    <img src="images/corn.jpg" alt="...">
                    <div class=" col-md-12 col-xs-12 rupp-textbox">
                        <p class="text">បង្កាត់ពូជរុក្ខជាតិ</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <span style="font-family: 'Bayon'; font-size: 200%; text-align: center;">
                <h1 style="padding:20px; padding-left: 12px">ឧបករណ៍ទំនើបៗ</h1>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="media">
                <div class="media-right pull-right">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/P2YPG8PO9JU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="media-body">
                    <h3 class="media-heading​​ " style="color:green;"><b>ការប្រើប្រាស់ឧបករណ៍ជំនួយ</b></h3>
                    <p style="line-height: 40px; font-size: 18px; padding-left: 12px;">
                        រហូតមកដល់សព្វថ្វៃនេះយើងមាន ឧបករណ៍ជាច្រើនសំរាប់ជំនួយដល់ការធ្វើកសិកម្មរបស់យើង ។ ឧបករណ៍ទាំងនោះជាគ្រឿងម៉ាស៊ីន ដែលមានល្បឺនលឿនខ្លាំង ប្រើប្រៀបទៅនិងការធ្វើដោយដៃ។ ឧបករណ៍ទាំងនោះមានដូចជា អត្រាក់ភ្ជួរដី ម៉ានស៊ីនបោកស្រូវ ម៉ាស៊ីនស្ទូងស្រូវ ម៉ាស៊ីនកាត់ស្មៅ ជាដើម។ ដូច្នេះហើយរាល់បណ្តាប្រទេស ជឿនលឿនគេបានប្រើឧបករណ៍ទាំងនេះ ជាជំនួយ
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <span style="font-family: 'Bayon'; font-size: 200%; text-align: center;">
                <h1 style="padding:20px;">ព៌តមាន និង ព្រឹត្តិការណ៏ថ្មីៗ</h1>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6​ col-md-6" style="margin-top:8px;">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle" style="width:150px; height:150px;" src="images/cate1.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body ">
                    <h4 class="media-heading"><b>ការយល់ដឹងខ្ពស់លើវិស័យកសិកម្ម</b></h4>
                    <p>
                        ការដាំដុសបន្លែនៅប្រទេសកម្ពុជា កាន់តែមានការរីកចំរើន ជាលំដាប់ បើប្រៀបទៅឆ្នាំមុនៗ ។ វិស័យកសិកម្ម រីកចំរើនក៌ដោយសារ ប្រជាពលរដ្ធរបស់យើង មានចំនេះដឹងទូលំទូលាយ បានរៀនសូត្រច្រើន ទៅលើវិស័យទាំងនេះ។ ដូច្នេះហើយ ជីវភាពរបស់ប្រជាពលរដ្ធ នៅថ្ងៃអនាគត គឺពឹងទៅលើវិស័យទាំងនេះ។
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top:8px;">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle" style="width:150px; height:150px;" src="images/cate2.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><b>ក្រុមហ៊ុនជិញហាប់ត្រូវកាបុក្គលិកបន្ថែម</b></h4>
                    <p>ការដាំដុសបន្លែនៅប្រទេសកម្ពុជា កាន់តែមានការរីកចំរើន ជាលំដាប់ បើប្រៀបទៅឆ្នាំមុនៗ ។ វិស័យកសិកម្ម រីកចំរើនក៌ដោយសារ ប្រជាពលរដ្ធរបស់យើង មានចំនេះដឹងទូលំទូលាយ បានរៀនសូត្រច្រើន ទៅលើវិស័យទាំងនេះ។ ដូច្នេះហើយ ជីវភាពរបស់ប្រជាពលរដ្ធ នៅថ្ងៃអនាគត គឺពឹងទៅលើវិស័យទាំងនេះ។</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top:8px;">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle" style="width:150px; height:150px;" src="images/dog.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><b>ក្រុមហ៊ុនកូកូប្រើគ្រឿងម៉ាស៊ីន៩០%</b></h4>
                    <p>
                        ការដាំដុសបន្លែនៅប្រទេសកម្ពុជា កាន់តែមានការរីកចំរើន ជាលំដាប់ បើប្រៀបទៅឆ្នាំមុនៗ ។ វិស័យកសិកម្ម រីកចំរើនក៌ដោយសារ ប្រជាពលរដ្ធរបស់យើង មានចំនេះដឹងទូលំទូលាយ បានរៀនសូត្រច្រើន ទៅលើវិស័យទាំងនេះ។ ដូច្នេះហើយ ជីវភាពរបស់ប្រជាពលរដ្ធ នៅថ្ងៃអនាគត គឺពឹងទៅលើវិស័យទាំងនេះ។
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top:8px;">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-circle" style="width:150px; height:150px;" src="images/cat.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><b>KKក្រុមស្មគ្រចិត្តកំពុងជួយប្រជាពលរដ្ធ</b></h4>
                    <p>ការដាំដុសបន្លែនៅប្រទេសកម្ពុជា កាន់តែមានការរីកចំរើន ជាលំដាប់ បើប្រៀបទៅឆ្នាំមុនៗ ។ វិស័យកសិកម្ម រីកចំរើនក៌ដោយសារ ប្រជាពលរដ្ធរបស់យើង មានចំនេះដឹងទូលំទូលាយ បានរៀនសូត្រច្រើន ទៅលើវិស័យទាំងនេះ។ ដូច្នេះហើយ ជីវភាពរបស់ប្រជាពលរដ្ធ នៅថ្ងៃអនាគត គឺពឹងទៅលើវិស័យទាំងនេះ។</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container-fluid">
    </div>

