* {
	font-family: 'Khmer OS';
}
.p-name{
	background: #222222;
	position: fixed;
    width: 102%;
}


input{
	height: 35px;
    margin: 7px;
    width: 314px;
}

.email{
	margin: 5px 56px;
}

.passwd{
	margin: 5px 31px;
}

.name{
    color: #9D9D9D;
    font-size: 21px;
    margin-left: 150px;
	margin-top: 7px;
}

.but{
	margin:5px;
	height: 34px;
}

.hello{
	padding-top: 100px;
	background: #EEEEEE;
	width: 101%;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 50px;
}

.world{
	font-size: 64px;
}

.text{
	font-size: 20px;
}

.heading{
    padding-left: 47px;
    padding-right: 41px;
}

hr{
	width: 1051px;
}

.copy{
	padding-left: 150px;
}



/*rupp add style*/

	.rupp-cate {
		position:relative;
		/*background-color: green;*/
	}
	.rupp-textbox {
		
    	height: 189px;
		box-sizing: border-box;
		position:absolute;
		top:0.5px;
		/*bottom: 20px;*/
		/*left:50px;*/
		right: 0.1px;
		background:black;
		opacity: 0.5;
		-webkit-transform: scale(0);
		transform: scale(0);
		border-radius:5px;
		background-color: rgba(0,0,0,0.50);
		-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
		box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	}
	.rupp-cate:hover .rupp-textbox {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.text {
		padding-top: 50px;
		color: white;
		text-align: center;
		/*font-size: 18px;*/
	}
	.rupp-textbox {
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}
	.no-padding{
		padding: 0;		
	}
