.search{
	width: 150px;
	height: 30px;
}
.button{
	background-color: black;
}

.cus-padding{
	padding: 5px;
	/*width: 250px;*/
}
.cus-padding button{
	font-size: 25px;
	background-color: transparent;
	border: 0;
	color:grey;

}
.size{
	font-size: 30px;
	padding: 0px;
	margin: 10px 10px 0 0;
	border: 0;
	position: relative;
}
.icon-toggle{
	/*background-color: green;*/
	z-index: 6;
	background-color: grey;
	text-align: center;
	display: none;
}
.no-padding{
	padding: 0;
}
.no-margin{
	margin: 0;
}
.no-border{
	border: 0;
}
.fix{
	position: fixed;
}
.float-left{
	float: left;
}
.toggle-box{
	top: 0px;
 	height: 1000px;
 	z-index: 1900;
 	background-color: #fff;
 	position: fixed;
 	padding-left: 0;
 	padding-right: 0;
 	overflow: scroll;
 	/*opacity: 0.5;*/
 	display: none;
}
.border-bot{
	border-bottom: 1px solid black;
}
.bg-toggle{
	background-color: #424242;
	height: 1000px;
	z-index: 1801;
	position: fixed;
	opacity: 0.5;
	display: none;

}
.btn:focus{
	border: 0;
	border-color: transparent;
}
.no-paddingbt{
	padding-bottom: 0;
	padding-top: 0;
}
.no-paddinglr{
	padding-left: 0;
	padding-right: 0;
}
.sbtn{
	border-radius: 0;
	padding: 8px 12px;
	border: 0;
	background-color: #fff;
}
.sbtn:active{
	background-color: grey;
}
.sbtn:hover{
	color: grey;
}
a p{
	padding: 0 10px;
	text-align: left;
}

.jum-margin{
	margin-top: 83px;
}

#search-box{
	/*visibility: hidden;*/
	position: relative;
}

.toggle-box-container{
	
	z-index: 1800;
	height: 500px;
	position: fixed;
	top: 0;
	padding-left: 0;
	padding-right: 0;
	/*opacity: 0.5;*/
	display: none;
}
.navigationbar{
	list-style-type: none;
	margin:0;
	padding: 0;
	display: none;
}
.navigationbar li{
	float: left;
}

.navigationbar li a{
	display: block;
	color: grey;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
.text-align{
	text-align:center; 
}

.text-align li{
	border: 0px;
}

h5{
	text-align: left;
}

@media  screen and (max-width: 768px){
	.cus-padding{
		display: none;
	}
	.icon-toggle{
		display: block;
		margin: 30px 0px;
		z-index: 4;
		padding: 20px;
		margin: 0;
	}
	.icon-lg{
		display: none;
	}
	#hide{
		display: none;
	}
	.navigationbar{
		display: block;
	}
	.auto-hide{
		display: none;
	}
	
}
@media screen and (max-width: 769px){
	/*.toggle-box{
		visibility: hidden;
	}*/
	
	.hide{
		display: none;
	}
}
@media screen and (max-width: 560px){
	.remove{
		display: none;
	}
}
@media screen and (max-width: 439px){
	.remove1{
		display: none;
	}
}
