<!-- <div class="container"> -->
		<center>
				
			<div class="row" style="background-color: black; color: #f8f8f8">
				<div class="col-md-4">
					<h2>About us</h2>
					<p>We build for Khmer People</p>
					<p>We are Cambodia</p>
					<p>Copy right 2017</p>
				</div>
				<div class="col-md-4">

					  <h2>Contact us</h2>
					  <p><span class="glyphicon glyphicon-map-marker"></span> Phnom Penh, KH</p>
				      <p><span class="glyphicon glyphicon-phone"></span> +855 966473887</p>
				      <p><span class="glyphicon glyphicon-envelope"></span> sambonget9999@gmail.com</p>
					

				</div>
				<div class="col-md-4">
					<h2>Company</h2>
					<p>The Company in Cambodia</p>
					<p>We build only Algriculture</p>
				</div>
			</div>
		</center>
		