


<!-- side-bar -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toggle-box-container" id="sidebg">
<div class="toggle-box col-xs-6 col-sm-6" id="side-bar">
	<div class="col-md-12 border-bot " style="height: 70px; text-align: center;">
		<h1>ផ្លែឈើ</h1>
	</div>
	<div class="container-fluid no-paddinglr">
		<div class="btn-group-vertical container-fluid no-paddinglr" style="width: 100%;">

			<!-- sidebar-cat -->
			<a href="#1" class="btn  sbtn" data-toggle="collapse">				<h5>ដំណាំហូបផ្លែ</h5>	
			</a>
				<div id="1" class="panel-collapse collapse" >
					  <ul class="list-group lst text-align" >
					    <a href="#" ><li class="list-group-item" onclick="loadFile('grapfruit.html')">ផ្លែទៀបខ្មែរ</li></a>
					    <a href="#" ><li class="list-group-item" onclick="loadFile('mango.html')">ផ្លែស្វាយ</li></a>
					    <a href="#" ><li class="list-group-item" onclick="loadFile('papaya.html')">ផ្លែល្ហុង</li></a>
					    <a href="#"><li class="list-group-item" onclick="loadFile('guava.html')">ផ្លែត្របែក</li></a>
					  </ul>
				</div>
			<!-- end of sidebar-cat -->	

			

		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 bg-toggle" id="bg">
	
</div>
</div> 
<!-- end of toggle-container --> <!-- end of side-bar-->

