
<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<script src="js/layout.js"></script>




<!-- header	-->
<!-- toggle header -->	
<div class="container-fluid no-margin no-padding icon-toggle">
	<div class="w3-center">
	  <img src="images/logo.jpg" style="height: 50px; margin-top: 0px;">
	</div>
</div>

<div class="container-fluid no-margin no-padding "  id="test1">
	<nav class="navbar navbar-default no-border" id="nav-fix">
	  <div class="container-fluid " style="padding-right: 6px;">
	  		
	  
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header " >
	    	
	      <button type="button" class="navbar-toggle collapsed float-left" data-toggle="collapse" aria-expanded="false" id="toggle-btn">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      
	      <!-- responsive header -->
		    <div class="col-sm-5 navigationbar-collapse float-left​">				
		      <ul class="navigationbar navigationbar-collaps​e color">
		        <li class="remove1"><a href="index.html">ទំព័រដើម</a></li>
		        <li id="plant"><a href="vegetable.html" id="plant">របៀបដាំបន្លែ</a></li>
		        <li class="remove"><a href="vegetable.html">របៀបដាំផ្លែឈើ</a></li>
		        <li class="dropdown">
		        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">បន្ថែម
		        	<span class="caret"></span></a>  
		        	<ul class="dropdown-menu">
		        		<li><a href="fruit.html" id="fruit">របៀបដាំផ្លែឈើ</a></li>
			            <li><a href="animal.html" id="animal">របៀបចិញ្ចឹមសត្វ</a></li>
			            <li><a href="about.html">អំពីយើង</a></li>
			            <li><a href="contact.html">ទំនាក់ទំនង</a></li>
			        </ul> 
			    </li>
		     </ul> 
			</div>
			<!-- end of reposive header -->

	    	<button class="navbar-toggle collapsed size " data-target=".bs-example-modal-md" data-toggle="modal">
	    		<span class="glyphicon glyphicon-user " aria-hidden="true"></span>
	    	</button>

	    	<button class="navbar-toggle collapsed size" data-toggle="modal" data-target=".searchtar">
	    		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	    	</button>
	    </div>

      	</div><!-- /.container-fluid -->
      	<div class="container-fluid">
      		<!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="col-md-12 col-lg-9 ">
	    <div class="collapse navbar-collapse" id="test">
			<a class="navbar-brand navbar-left icon-lg no-padding" href="#">
			<img src="images/logo.jpg" class="" style="height: 50px;">
	      	</a>
	      <ul class="nav navbar-nav navbar-left">
	        <li><a href="index.html">ទំព័រដើម</a></li>
	        <li><a href="vegetable.html" id="plant">របៀបដាំបន្លែ</a></li>
	        <li><a href="fruit.html" id="fruit">របៀបដាំផ្លែឈើ</a></li>
	        <li><a href="animal.html" id="animal">របៀបចិញ្ចឹមសត្វ</a></li>
	       
	        <li><a href="about.html">អំពីយើង</a></li>
	        <li><a href="contact.html">ទំនាក់ទំនង</a></li>	    
	     </ul> 
	    </div><!-- /.navbar-collapse -->
	    </div>

	      <div class="navbar-right cus-padding col-lg-3 col-md-4 col-sm-6 no-paddinglr ">
	      	<div class="col-lg-8 col-md-8 col-sm-9 no-paddinglr navbar-left" id="search-box">
	      	<input type="text" class="form-control" name="" style="" placeholder="search">
	      	</div>

	      	<div class="col-md-4 col-lg-4 col-sm-3 no-paddinglr navbar-right">

       		 <button id="search" class="">
       		 	<span class="glyphicon glyphicon-search" id="search-icon"></span>
       		 </button>

	     	
	       	<button data-toggle="modal" data-target=".bs-example-modal-md">
	       		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	       	</button>
	       	
		  </div> <!-- end of div button -->
      	 </div>

      	 
      	</div> <!-- end of container fluid -->
	</nav>
 </div>
 			<!-- start Login modal -->
	       	<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			  <div class="modal-dialog modal-md" role="document">
			    <div class="modal-content">
			    	<!-- modal header -->
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				        </button>
				        <h4 class="modal-title" id="gridSystemModalLabel">Log in</h4>
				      </div>
			      	<!-- end of modal header -->

			      	<div class="modal-body">
			      		<div class="col-md-12"></div>
			      		<div>
			      			<button class="btn btn-default btn-lg">Log in</button>
			      		</div>
			      			
			      	</div>
			    </div>
			  </div>
			</div> <!-- end of modal -->

			<!-- Start of Search modal -->
			<div class="modal fade searchtar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			  <div class="modal-dialog modal-md" role="document">
			    <div class="modal-content">
			    	<!-- modal header -->
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				        </button>
				        <h4 class="modal-title" id="gridSystemModalLabel">Search</h4>
				      </div>
			      	<!-- end of modal header -->

			      	<!-- modal body -->
			      	<div class="modal-body">
			      		<div class="col-md-12"></div>
				      		<div>
				      			<input type="text" name="" class="form-control" placeholder="Please type a keyword..." />
				      		</div>			      			
			      		</div>
			    	</div>
			    	<!-- end of modal body -->

			  </div>
			</div> 
			<!-- end of modal -->

<!-- Welcome text -->
<div class="container-fluid no-paddinglr">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding " id="jum">
	<div class="jumbotron">
	  <div class="container" >
	  <a href="index.html" style="text-decoration: none;">
	    <span style="font-family: 'Bayon'; font-size: 200%; text-align: center;">
	    	<h1 style="padding:20px;">​សូមស្វាគមន៏ មកកាន់ Agriculture</h1>
	    </span>
	   </a>
	  </div>
	</div>
</div>
</div>
<!-- end of welcome -->

<!-- End of header -->

<script type="text/javascript">
		
</script>