


<!-- side-bar -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toggle-box-container" id="sidebg">
<div class="toggle-box col-xs-6 col-sm-6" id="side-bar">
	<div class="col-md-12 border-bot " style="height: 70px; text-align: center;">
		<h1>បន្លែ</h1>
	</div>
	<div class="container-fluid no-paddinglr">
		<div class="btn-group-vertical container-fluid no-paddinglr" style="width: 100%;">

			<!-- sidebar-cat -->
			<a href="#1" class="btn  sbtn" data-toggle="collapse">				<h5 >បន្លែធម្មតា</h5>	
			</a>
				<div id="1" class="panel-collapse collapse" >
					  <ul class="list-group lst text-align" >
					    <a href="#"><li class="list-group-item">ឪឡឹក</li></a>
					    <a href="#"><li class="list-group-item">ល្ពៅ</li></a>
					    <a href="#"><li class="list-group-item">ត្រឡាច</li></a>
					  </ul>
				</div>
			<!-- end of sidebar-cat -->	

			<!-- sidebar-cat -->
			<a href="#2" class="btn  sbtn" data-toggle="collapse">				<h5 >ដំណាំវល្លិ</h5>	
			</a>
				<div id="2" class="panel-collapse collapse" >
					  <ul class="list-group lst text-align" >
					    <a href="#"><li class="list-group-item">ឪឡឹក</li></a>
					    <a href="#"><li class="list-group-item">ល្ពៅ</li></a>
					    <a href="#"><li class="list-group-item">ត្រឡាច</li></a>
					  </ul>
				</div>
			<!-- end of sidebar-cat -->	

		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 bg-toggle" id="bg">
	
</div>
</div> 
<!-- end of toggle-container --> <!-- end of side-bar-->

