﻿
<link rel="stylesheet" type="text/css" href="css/mystyle.css">
<script src="js/layout.js"></script>
<!-- start nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/logo.jpg" style="height: 50px; margin-top: -20px;">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="index.html" id="home">ទំព័រដើម</a></li>
                <li><a href="vegetable.html">របៀបដាំបន្លែ</a></li>
                <li><a href="vegetable.html">របៀបដាំផ្លែឈើ</a></li>
                <li><a href="vegetable.html">របៀបចិញ្ចឹមសត្វ</a></li>

                <li><a href="about.html" id="about">អំពីយើង</a></li>
                <li><a href="contact.html" id="contact">ទំនាក់ទំនង</a></li>



                <!-- <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">មេរៀន<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                       <li><a href="#">របៀបដាំបន្លែ</a></li>
                       <li><a href="#">របៀបដាំផ្លែឈើ</a></li>
                       <li><a href="#">របៀបចិញ្ចឹមសត្វ</a></li>
                     </ul>
                   </li> -->

            </ul>
            <div class="navbar-right cus-padding col-lg-3 col-md-4 col-sm-6 no-paddinglr ">
                <div class="col-lg-8 col-md-8 col-sm-9 no-paddinglr navbar-left" id="search-box">
                    <input type="text" class="form-control" name="" style="" placeholder="search">
                </div>

                <div class="col-md-4 col-lg-4 col-sm-3 no-paddinglr navbar-right">

                    <button id="search" class="">
                        <span class="glyphicon glyphicon-search" id="search-icon"></span>
                    </button>


                    <button data-toggle="modal" data-target=".bs-example-modal-md">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>

                </div> <!-- end of div button -->
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- end nav -->
<!-- start Login modal -->
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Log in</h4>
            </div>
            <!-- end of modal header -->

            <div class="modal-body">
                <div class="col-md-12"></div>
                <div>
                    <button class="btn btn-default btn-lg">Log in</button>
                </div>

            </div>
        </div>
    </div>
</div> <!-- end of modal -->
<!-- Start of Search modal -->
<div class="modal fade searchtar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Search</h4>
            </div>
            <!-- end of modal header -->
            <!-- modal body -->
            <div class="modal-body">
                <div class="col-md-12"></div>
                <div>
                    <input type="text" name="" class="form-control" placeholder="Please type a keyword..." />
                </div>
            </div>
        </div>
        <!-- end of modal body -->

    </div>
</div>
<!-- end of modal -->
